{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "EventHubName": "",       
        "EventHubsConnection__fullyQualifiedNamespace": "{eventhubs-namespace-name}.servicebus.windows.net",
        "CosmosDBEndpoint": "",
        "CosmosDBDatabaseName": "",
        "CosmosDBContainerName": ""
    }
}